* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	z-index: 5;
	background-color: #1a1919;

}

nav img {
	padding-left: 18px;

}

nav ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
	margin-top: 15px;
}

nav ul li a {
	color: rgb(124, 128, 114);
	padding-right: 44px;
	font-size: 15px;
	text-decoration: none;
}

nav ul li a:hover {
	color: rgb(251, 125, 72);
}

nav select {
	color: white;
	background-color: #1a1919;
	border-color: #1a1919;
}

nav .profile {
	display: flex;
	color: white;
	padding: 10px;
}

.mySlides {
	display: none
}

img {
	vertical-align: middle;
}

.slideshow-container {
	max-width: 100%;
	position: relative;
	margin: auto;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #717171;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

section {
	margin-top: 15px;
}

.title-image {
	width: 250px;
	height: 200px;
	margin-top: 52px;
}

.title-text {
	width: 200px;
	margin-left: 30px;
	color: white;
	display: flex;
	justify-content: space-around
}

.age {
	border: 1px solid white;
}

.hd {
	border: 1px solid white;
}

.container-watch {
	width: 200px;
	margin-top: 3px;
	margin-left: 30px;
	color: white;
	display: flex;
	justify-content: space-around;
}

.icon-container {
	background-color: #1a1919;
	padding: 3px;
}

.watch-button {
	background: #1a1919;
	border: #1a1919;
}

.new-page {
	text-decoration: none;
	color: #ffffff;
}

#animate {
	position: relative;
	animation: mymove 3s;
	animation-timing-function: ease-left;
}

@keyframes mymove {
	0% {
		left: 0px;
	}

	25% {
		left: 20px;
	}
}

.img {
	margin-left: 50px;
	width: 900px;
	height: 500px;
}

.movies-container1 {
	padding: 10px;
	color: #ffffff;
}

.fav-title {
	margin-top: 10px;
	margin-left: 50px;
}

.fav-movie-img {
	width: 300px;
	height: 180px;
	margin: 15px;
	transition: all 2s ease-in-out;
}

.fav-movie-img:hover {
	border: 1px solid white;
	transform: scale(1.1);
}

.favorite-container {
	display: flex;

}


.carousel {
	position: relative;
	width: 95%;
	padding: 10px 40px;
}

.add-title {
	margin-left: 50px;
}

.carousel .movie-img {
	width: 300px;
	height: 180px;
	display: block;
	transition: all 2s ease-in-out;
}

.carousel .movie-img:hover {
	border: 1px solid white;
	transform: scale(1.1);
}

.seek-bar {
	-webkit-appearance: none;
	width: 300px;
	height: 5px;
	border-radius: 10px;
	background: rgb(43, 42, 42);
	overflow: hidden;
	cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 1px;
	height: 20px;
	box-shadow:-400px 0 0 400px rgb(83, 81, 81);
}


.arrow {
	position: absolute;
	top: 60px;
	padding: 0;
	background: black;
	border-radius: 41%;
	height: 100px;
	width: 25px;
	font-size: 24px;
	line-height: 24px;
	color: white;
	display: block;
	opacity: 0.6;
}

.arrow:focus {
	outline: none;
}

.arrow:hover {
	cursor: pointer;
}

.prev {
	left: 7px;
}

.next {
	right: 7px;
}

.gallery {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.gallery ul {
	height: 130px;
	width: 9999px;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.gallery li {
	display: inline-block;
	padding: 10px;
}

.watch-title {
	margin-left: 50px;
}

.watching-container {
	width: 100%;
}

.watching-container-list {
	display: flex;
	margin: 10px;
}

.watching-container-list-img {
	height: 180px;
	width: 300px;
	transition: all 2s ease-in-out;
}

.watching-img-container {
	margin: 10px;
}

.watching-container-list-img:hover {
	border: 1px solid white;
	transform: scale(1.1);
}

.tv-container1 {
	padding: 10px;
	color: #ffffff;
}

.tv-title {
	margin-top: 10px;
	margin-left: 50px;
}

.tv-list-img {
	width: 200px;
	height: 130px;
	margin: 15px;
	transition: all 2s ease-in-out;
}

.tv-list-img:hover {
	border: 1px solid white;
	transform: scale(1.1);
}

.tv-container {
	display: flex;

}


.add-title {
	margin-left: 50px;
}



